Pipfile.lock

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/

# FastAPI specific
.pytest_cache/

# Configuration files (be cautious with this, you might want to track some config files)
*.ini
*.conf

# Temporary files
*.tmp

# Database files
*.db
*.sqlite3

# Compiled Python files
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables file (if you're not using .env)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore all .env files except .env.example
.env*
!.env.example